h1 {
    text-align: center;
    font-size: 50px;
}

.text-verde {
    color: green;
    background-color: dimgray;
    font-size: 38px;
}
.text-verde:hover {
    color: black;
    background-color: white;
    font-size: 38px;
}
.text-vermelho {
    color: red;
    background-color: dimgray;
    font-size: 38px;
    text-align: center;
}
.text-vermelho:hover {
    color: black;
    background-color: white;
    font-size: 38px;
    text-align: left;
}
.text-azul {
    color: blue;
    background-color: dimgray;
    font-size: 38px;
    text-align: right;
}
.text-azul:hover {
    color: black;
    background-color: white;
    font-size: 38px;
    text-align: left;
}
.text-roxo {
    color: blueviolet;
    background-color: dimgray;
    font-size: 38px;
    text-align: center;
}
.text-roxo:hover {
    color: black;
    background-color: white;
    font-size: 38px;
    text-align: left;
}
.text-amarelo {
    color: yellow;
    background-color: dimgray;
    font-size: 38px;
}
.text-amarelo:hover {
    color: black;
    background-color: white;
    font-size: 38px;
    text-align: left;
}
.text-rosa {
    color: hotpink;
    background-color: dimgray;
    font-size: 38px;
    text-align: center;
}
.text-rosa:hover {
    color: black;
    background-color: white;
    font-size: 38px;
    text-align: left;
}



body {
    background-color: wheat;
}

ul {
    background-color: white;
}